
/* 
    Created on : 19-09-2020, 23:20:50
    Author     : KRIEGER
*/
* {
    margin: 0;
    padding:0;
}
body {
   //background-image: url("../img/fondo.jpg");
   background: url("../img/fondo2.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

   /* background-image: url("../img/fondo2.jpg");
    background-size: 400% 400%;
     background-repeat: no-repeat;
     background-size: cover;*/
}
.logeo{
    color: white;
    padding: 5%;
    width: 50%;
    margin:auto;
    margin-top: 20%;
    background-color: rgba(0, 0, 0, 0.4);
}
.salir{
    display: none;

}
.salmon{
    background-color: #F26852 !important;
}
.mt-10 {
  margin-top: 10% !important;
}
.resumen{
    display:none;
}
#muestra_brecha{
    display:none;
}
img{
    //max-height: 480px; //se arreglo con la nueva config del fondo
}